.Header-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 70px;
    
}
.head-svg-item{
    width: 30px;
   filter: invert(100%);
   background-color: rgb(192, 192, 192);
   padding: 3px;
   border-radius: 4px;

}
.head-return svg{
    color: black;
    background-color: rgb(141, 141, 141);
    height: 30px;
    padding: 10px;
    border-radius: 10px;
        border: 2px solid black;

}
.head-calendar svg {
    color: black;
        background-color: rgb(141, 141, 141);

    height: 30px;
    padding: 10px;
    border-radius: 10px;
        border: 2px solid black;


}
.head-noti svg{
    color: black;
        background-color: rgb(141, 141, 141);

    height: 30px;
    padding: 10px;
    border-radius: 10px;
        border: 2px solid black;


}
.head-message svg {
     color: black;
        background-color: rgb(141, 141, 141);
        border: 2px solid black;

    height: 30px;
    padding: 10px;
    border-radius: 10px;
}
.head-group svg{
        color: black;
        background-color: rgb(141, 141, 141);

    height: 30px;
    padding: 10px;
    border-radius: 10px;
        border: 2px solid black;


}
.head-logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    text-decoration: none;
    gap: 10px;

}
.head-mid-items{
    display: flex;
    align-items: center;
    gap: 15px;

}
.head-right-item{
        display: flex;
    align-items: center;
    gap: 15px;

}
.head-user-items{
        display: flex;
    text-decoration: none;
    font-size: medium;
    align-items: center;
    gap: 10px;
    
}
.head-search{
        display: flex;
    background-color: rgb(153, 151, 151) ;
    align-items: center;
    padding: 2px;
    border-radius: 8px;
    height: 40px;
}

.search-bar{
    width: 400px;
    height: 40px;
    border :none  ;
    border-radius: 8px;
    
    
    
}
.head-search svg{
    color: white;
    cursor: pointer;
   
}
.head-search{
    border: 2px solid rgb(255, 255, 255);
    
}
header{
    background-color: rgb(113, 113, 113);
    border-bottom: 2px solid black;
}
header input{
    background-color: rgb(153, 151, 151);
    font-size: large;
    color: white;
}
.head-user-name button{
    color: rgb(0, 0, 0);
}
.user-avata{
    background-image: url('avatardefault_92824.png');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.container{
    display: flex;
    gap: 20px;
    
    margin: auto;
    width: 80%;
}
.body-create-post{
    /* display: flex; */
     align-items: center;
    gap: 10px;
    background-color: rgb(196, 230, 236);
    padding: 15px;
    border-radius: 5px;
    justify-content: space-between;
    border: 2px solid black;
    

}
.tren-create-post{
    display: flex;
     align-items: center;
     gap: 10px;
    background-color: rgb(196, 230, 236);
   
}
.post-input{
    width: 500px;
    height: 40px;
    border :2px solid  gray ;
    border-radius: 8px;
        background-color: rgb(255, 255, 255);
    border: 2px solid black;


    
}
.body-create-post-button{
    height: 40px;
    background-color: orange;
    font-size: large;
    cursor: pointer;
    width: 30%;
}
.avatar-post-author{
    
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}
.body-post-image{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;   
    border-radius: 10px;
}
.body-post{
    display: flex;
    border-radius: 20px;
    gap: 10px;
    margin-top: 10px;
    
}
.post-container-2{
    display: flex;
    justify-content: space-between;
    gap : 40px;
    height: 100%;
    align-items:center;

}
.body-post-tilte{
    font-weight: bold;    
    font-size: larger;


}
.body-post-author{
    display: flex;
    
}
.interact-items-post{
    display: flex;
    gap: 20px;
    color: white;
}
.post-container{
    background-color: rgb(124, 124, 124);
    width: 100%;
     
}
.interact-items-post{
    font-weight:lighter;
}
.body-popular-post{
    padding: 20px;
     background-color: rgb(124, 124, 124);
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;

}
.username-post-author{
    color: white;
    font-weight: bold;
}
.body-popular-container{
    margin-top: 10px;
}
.login-button a{
    text-decoration: none;
    color: white;
}
.signup-button a{ 
        text-decoration: none;
    color: white;
}
.dropdown-menu-item button{
    text-decoration: none;
    color: white;
    
}
.dropdown-menu{
    display: none;
    z-index: 1;
    position: absolute;
    max-width: 140px;
    width: 100px;
    background-color: rgb(122, 122, 122);
    text-align: center;
    
    
}
.head-user-name:hover .dropdown-menu{
    display: block;
}
.head-user-name button {
    background-color: transparent;
    font-size: larger;
    border: none;
}
.dropdown-menu-item{
    position: relative;
    z-index: 1;
}
.dropdown-menu-item button{
    color: black;
    font-weight: bold;
    cursor: pointer;

}
.dropdown-menu:hover {
    background-color: black;

}
.dropdown-menu-item:hover button{
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;

}
.body-post-image{
    border: 2px solid black;
}
.body-post-tilte{
       border-bottom: 2px solid black;
        color: white;
}
.interact-items-post{
        border: 2px solid black;
        padding: 5px;
        border-radius: 7px;

}
.body-post-tag{
    font-size:medium;
    
}
body {
    background-color: #aff2f2;
    
}
.body-mid-items{
    width: 20%;
    background-color: rgb(252, 252, 252);
    height: 60vh;
    border: 2px solid black;
}
.popular-tag{
    text-align: center;
    border-bottom: 2px solid black;
    font-size: large;
    font-weight: bold;
    background-color: #aff2f2;
    padding-bottom: 5px;
    padding-top: 5px;
}
.login-button{
    background-color: orange;
    padding: 10px;
    border: 2px solid black;

}
.signup-button{
    background-color: #ddb2b2;
    padding: 10px;
    border: 2px solid black;

}
.head-user-name{
    background-color: gray;
    padding: 5px;
    border: 2px solid black;

}
.image_upload input{
    background-color: #5cf0ff;
   padding: 10px;
    font-size: 15px;
    border: 2px solid black;
}
.image_upload{
    padding-left: 60px;

}
.body-create-post-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
    width: 40%;
    
}
a{
    text-decoration: none;
}
.double-nut{
    display: flex;
    border: 2px solid black;
    padding: 20px;
}
.link-create-post{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.user-name-avata{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.user-name-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    font-weight: bold;
}
.user-interact{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.follow button{
    width: 100px;
    height: 35px;
}
.text-moi-nhat h1{
    font-weight: bold;

}
.nut{
    display: flex;
    justify-content: space-between;
margin-top: 20px ;
align-items: flex-end;}